auth_env/
*.zip
.aws/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Apple Pages / Numbers
*.pages
*.numbers

# Editor
.vscode/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/
